.DS_Store
node_modules/*

*.pyc

server/cvison/*.png
server/cvison/frames/*.png

*.mp4

server/gcal_credentials
server/client_secret.json

server/uploads
server/s_env/*

server/config.cfg

server/venv

mirror.db
