body {
    background-color: #000;
    color: #fff;
}

/* Page Animations */

/* Left Animations */
@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

/* Right Animations */
@-webkit-keyframes moveToRight {
	from { }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight {
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.ng-leave {
	-webkit-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}

.ng-enter {
	-webkit-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}

/* Page Style */
.page {
    position:absolute;
    top:0;
    bottom:0;

    width:100%;

    /*text-align:center;*/
}

/* Widget Style */

.ui-widget {
    /*display: inline-block;*/
    width: 250px;
    /*height: 250px;*/
    /*height: auto;*/
    /*border: 1px solid white;*/

    overflow: auto;

    padding: 10px;
    border: 2px solid white;

    border-radius: 20px; /* Reserved For Circular Items */

    margin-bottom: 10px;
}

.ui-widget > .title {
    margin-top: 0px;
    margin-bottom: 10px;

    font-weight: 200;
}

/* Clock Widget */
#clock > .ui-widget {
    display: block;

    width: auto;
    text-align: center;

    border: 0;

    /*font-family: "Arial";*/

    margin-left: auto;
    margin-right: auto;
}

#clock > .ui-widget > .body > h1 {
    font-weight: 100;
    font-size: 56pt;
}

/* Weather Widget */
#weather > .ui-widget > .body > img {
    width: 100%;
}

#weather h1 {
    font-weight: 100;
    /*font-size: 24pt;*/
}

/* Schedule Widget */
#schedule .s_item {
    border-bottom: 1px solid white;

    overflow: auto; /* FIX for bootstrap column floating */
}

#schedule .time {
    padding-left: 0;
}

#schedule .plan {
    padding-right: 0;
}

#schedule .plan > span {
}
