body {
    background-color: #000;
    color: #fff;
}

.ui-widget {
    /*display: inline-block;*/
    width: 250px;
    /*border: 1px solid white;*/

    margin-bottom: 10px;
}

/* Clock Widget */
#clock {
    display: block;

    width: auto;

    text-align: center;

    /*font-family: "Arial";*/

    margin-left: auto;
    margin-right: auto;
}

#clock > h1 {
    font-weight: 100;
    font-size: 56pt;
}

/* Weather Widget */
#weather > img {
    width: 100%;
}

#weather h1 {
    font-weight: 100;
    /*font-size: 24pt;*/
}
