<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>404</title>
  <link rel="stylesheet" href="../static/style.css" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="notf">
  <!-- <script src="js/scripts.js"></script> -->
  <div class="container">
      <div class="col-md-12">
          <h1>404<br>page is not found</h1>
          <h3>I beg your pardon!<br>We can't find this page for you<br><br>
          Come back to <a href="/"> Magic Mirror</a></h3>

      </div>
  </div>


</body>
</html>
