<!DOCTYPE html>
<html class="setup">
<head>

    <title>Magic Mirror UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASu812zJ2sky-v7hvRUfu6-1r6rWwTnpw" ></script>

</head>

<body class="setup">
    <div class="container my_container">
        <h1><a href="/">MAGIC MIRROR</a></h1>
        {% if auth %}
        <div class="google_button">
            <p><a href="http://localhost:5000/gcal/gauth" >Sign in</a></p>
        </div>
        {% else %}
        <div class="signed">
            <p>You've already signed in as {{userName}}</p>
            <a class="out" href="/gcal/deauth">Sign out</a>
        </div>
        {% endif %}
        <div class="col-md-12">
            <h1>Manage your calendars right here</h1>
                <h6>Pick calendars for your Mirror:</h6>
                <form  class="col-md-12" action="/setcal"  method="POST">
                    <div>{% for cal in cals: %}
                        <ul>
                            <li>
                                {%if cal.active == 1:%}
                                <input type="checkbox" name="ids[]" value="{{cal.id}}" checked> {{cal.summary}}<br>
                                {%else:%}
                                <input type="checkbox" name="ids[]" value="{{cal.id}}"> {{cal.summary}}<br>
                                {%endif%}
                            </li>
                        </ul>
                        {%endfor%}
                    </div>
                    <!-- <input type="submit" name="action" value="Save"> -->
                    <button type="submit" name="action" value="calendar">Save</button>
                    {% if resp_g == 200 %}
                    <p>Thanks, your data was saved</p>
                    {% endif %}

                </form>
            </div>
            <div class="col-md-12">
                <h1>Upload Snowboy</h1>
                <h6>Click here to download:</h6>
                    <form action="/sbupload" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Upload">
                    </form>
            </div>
            <div class="col-md-12">
                <h1>Pick widgets to display:</h1>
                <form  class="col-md-12"  action="/setcal"  method="POST">
                    <div>
                        <ul>
                          {%for widget in widgets:%}
                          <li>
                              {%if widget.active == 1:%}
                              <input type="checkbox" name="widgets[]" value="{{widget.id}}" checked> {{widget.name}}<br>
                              {%else:%}
                              <input type="checkbox" name="widgets[]" value="{{widget.id}}"> {{widget.name}}<br>
                              {%endif%}
                          </li>
                          {%endfor%}
                        </ul>
                    </div>
                    <!-- <input type="submit" name="action" value="Save"> -->
                    <button type="submit" name="action" value="widgets">Save</button>
                    {% if resp_g == 200 %}
                    <p>Thanks, your data was saved</p>
                    {% endif %}
                </form>

            </div>
            <div class="col-md-12">
                <h1>Confirm your location</h1>
                {% if resp_g == 201 %}
                <p>Thanks, your position was saved<br></p>

                {% endif %}
                <form action="/setcal"  method="POST">
                    <input type="hidden" name="u_lat" value="" id="u_pos1">
                    <input type="hidden" name="u_lng" value="" id="u_pos2">
                    <!-- <input type="submit" name="action" value="Confirm"> -->
                    <button type="submit" name="action" value="position">Confirm</button>
                </form>
                <div class="map" id="map"></div>
                <!-- JS map -->
                <script>
                var map;
                var u_pos;
                function initMap() {
                    var mapDiv = document.getElementById('map');
                    var map = new google.maps.Map(mapDiv, {
                        center: {lat: 0, lng: 0},
                        zoom: 17
                    });
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (p) {
                            pos = {
                                lat: p.coords.latitude,
                                lng: p.coords.longitude
                            };
                            var marker = new google.maps.Marker({
                                position: pos,
                                map: map,
                                title: 'Your current position'
                            });
                            map.setCenter(pos);
                            document.getElementById('u_pos1').value = pos.lat;
                            document.getElementById('u_pos2').value = pos.lng;

                        })
                    }
                }
                initMap();

                // setTimeout(function () {
                //     console.log(u_pos);
                //     document.getElementById('u_pos').value = u_pos;
                // }, 2000);

                </script>
            </div>
        </div>
    </div>
</div>



<script src="https://apis.google.com/js/client.js?onload=init"></script>

</body>
</html>
