<!DOCTYPE html>
<html>
    <head>
        <title>Magic Mirror UI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="style.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    </head>
    <body ng-app="setupSite">
    <h1>MAGIC MIRROR</h1>

    <div class="banner">
      <div class="welcome">
        <span>
          Welcome to Magic Mirror Authorization Page!
        </span>
      </div>
      {% if not auth %}
      <div class="google_button">
        <p><a href="http://localhost:5000/gcal/gauth" >Sign in</a></p>
      </div>
      {% else %}
      <div class="signed">
        <p>You've already signed in</p>
      </div>
      {% endif %}
    </div>

    <div class="container">
      <div class="btn">
        <a href="http://openweathermap.org/" class="not-main">Check weather</a>
      </div>
      <div class="btn">
        <a href="https://calendar.google.com/calendar/render" class="not-main">Watch your schedule</a>
      </div>
      <div class="btn">
        <a href="http://www.huffingtonpost.com/entry/quiz-what-wear-today_us_55f85700e4b0c2077efc3c9b" class="not-main">Dress properly</a>
      </div>
    </div>

    <script src="https://apis.google.com/js/client.js?onload=init"></script>

  </body>
</html>
