
<div class="col-xs-4 item_stl current" id="item-{{info.id}}" it-id="{{info.id}}" ng-if="info.id%9 === 1">
    <img class="item_img" ng-src="server/static/clothes/{{info.thumbnail}}" id="img_c" />
    <h3 class="dresscode">Dresscode: {{ info.dresscode }}</h3>
    <p class="tags">Tags: First {{ info.tags }}</p>
    <p class="t_wears">Wears: {{ info.t_wears}}</p>
</div>
<div class="col-xs-4 item_stl" id="item-{{info.id}}" it-id="{{info.id}}" ng-if="info.id%9 !== 1">
    <img class="item_img" ng-src="server/static/clothes/{{info.thumbnail}}" >
    <h3 class="dresscode">Dresscode: {{ info.dresscode }}</h3>
    <p class="tags">Tags: {{ info.tags }}</p>
    <p class="t_wears">Wears: {{ info.t_wears}}</p>
</div>
