<!-- TUTORIAL -->
<div class="popup_back tutorial container" id="tutorial" style="display:none">
    <div class="col-xs-12">
         <h1>Welcome to Magic Mirror</h1>
         <h2>To setup your device go to</h2>
         <h1>{{ip}}</h1>
         <br>
         <h2> You can controll your mirror by sending voice command<br> to get list of voice commands say "Mirror help"</h2>
         <!-- {{IP}} -->
    </div>
</div>
<!-- WEATHER WARNING -->
    <div class="popup_back">
        <div class="col-xs-12">
             <h1 class="msg" id="rain_message"></h1>
             <h1 class="msg" id="snow_message"></h1>
        </div>
    </div>
<!-- AUTH STATE -->
    <div class="popup_back">
        <div class="col-xs-12">
             <h1 id="auth_message"></h1>
        </div>
    </div>
    <div class="popup_back">
        <div class="col-xs-12">
             <h1 id="cal_message"></h1>
        </div>
    </div>
    <div class="popup_back">
        <div class="col-xs-12">
             <h1 id="pos_message"></h1>
        </div>
    </div>
    <!-- MICROPHONE -->
    <div class="col-xs-12 home_mic">
        <div class="microphone" id="microphone">
            <div class="circle" id="m_listen">
                <div class="cssload-container">
                    <div class="cssload-double-torus" id="cssload-double-torus"></div>
                </div>
            </div>
            <div class="circle" id="m_detc">
                <p class="mic_cmd">{{curr_cmd}}</p>
            </div>
            <img  class="microph_img" id="microph_img" src="res/microphone.png" alt="" />
        </div>
    </div>
<!-- Clock Widget -->
<div ng-controller="ClockCtr">
    <ui-widget id="clock">
        <h1>{{ time | date:'HH:mm'}}</h1>
        <h2>{{time | date:'MMMM d'}}</h2>
    </ui-widget>
</div>

<!-- Weather Widget -->
<div ng-controller="WeatherCtr">
    <ui-widget id="weather">
        <div class="col-xs-6">
            <img class="" ng-src="{{w_dat.icon}}" />
        </div>

        <div class="col-xs-6">
            <div class="div1">
                <h2>min {{ (w_dat.min_temp | number:0) | tempC }}</h2>
                <h2>max {{ (w_dat.max_temp | number:0) | tempC }}</h2>
                <h1>{{ (w_dat.temp | number:0) | tempC }}</h1>
            </div>
        </div>
    </ui-widget>
</div>

<!-- Google Calendar Widget -->
<div ng-controller="ScheduleCtr" id="ScheduleCtr">
    <ui-widget id="calendar">
        <h1>Plans for Today:</h1>
        <div ng-repeat="i in plans[curr_plans_page]" class="s_item">
            <div class="col-xs-4 time">
                <span>{{ i.start.dateTime | date:"H:mm" }} {{ i.end.dateTime | date:"H:mm" }}</span>
            </div>
            <div class="col-xs-8 plan">
                <span>{{ i.summary }}</span>
            </div>
        </div>
    </ui-widget>
</div>

<!-- Google Maps Widget -->
<div ng-controller="MapsCtr">
    <ui-widget id="map-widget">
        <div id="g_map" data-ng-load="initMap()"></div>
    </ui-widget>
</div>

<!-- <a href="#/weather">Page Switch (Test)</a> -->
<!-- <p ng-click="switchView('stylist','left_swipe')">Page Switch (Test)</p> -->
