<!-- WEATHER WARNING -->
    <div class="popup_back">
        <div class="col-xs-12">
             <h1 id="w_message"></h1>
        </div>
    </div>
<!-- AUTH STATE -->
    <div class="popup_back">
        <div class="col-xs-12">
             <h1 id="auth_message"></h1>
        </div>
    </div>
    <div class="popup_back">
        <div class="col-xs-12">
             <h1 id="cal_message"></h1>
        </div>
    </div>
    <div class="popup_back">
        <div class="col-xs-12">
             <h1 id="pos_message"></h1>
        </div>
    </div>
<!-- Clock Widget -->
<div ng-controller="ClockCtr">
    <ui-widget id="clock">
        <h1>{{ time | date:'HH:mm'}}</h1>
        <h2>{{time | date:'MMMM d'}}</h2>
    </ui-widget>
</div>

<!-- Weather Widget -->
<div ng-controller="WeatherCtr">
    <ui-widget id="weather">
        <div class="col-xs-6">
            <img class="" ng-src="{{w_dat.icon}}" />
        </div>

        <div class="col-xs-6">
            <div class="div1">
                <h2>min {{ (w_dat.min_temp | number:0) | tempC }}</h2>
                <h2>max {{ (w_dat.max_temp | number:0) | tempC }}</h2>
                <h1>{{ (w_dat.temp | number:0) | tempC }}</h1>
            </div>
        </div>
    </ui-widget>
</div>

<!-- Google Calendar Widget -->
<div ng-controller="ScheduleCtr" id="ScheduleCtr">
    <ui-widget id="schedule">
        <h1>Plans for Today:</h1>
        <div ng-repeat="i in plans" class="s_item">
            <div class="col-xs-4 time">
                <span>{{ i.start.dateTime | date:"H:mm" }} {{ i.end.dateTime | date:"H:mm" }}</span>
            </div>

            <div class="col-xs-8 plan">
                <span>{{ i.summary }}</span>
            </div>
        </div>
    </ui-widget>
</div>

<!-- Google Maps Widget -->
<div ng-controller="MapsCtr">
    <ui-widget id="map-widget">
        <div id="g_map" data-ng-load="initMap()"></div>
    </ui-widget>
</div>

<!-- <a href="#/weather">Page Switch (Test)</a> -->
<p ng-click="switchView('stylist','left_swipe')">Page Switch (Test)</p>
