<ui-widget class="stylist" id="stylist">
    <!-- <h1>Welcome to your wardowbe</h1> -->
    <div class="microphone" id="microphone">
        <div class="circle" id="m_listen">
            <div class="cssload-container">
                <div class="cssload-double-torus"></div>
            </div>
        </div>
        <div class="circle" id="m_detc">
            <p class="mic_cmd">some cmd</p>
        </div>
        <img  class="microph_img" id="microph_img" src="res/microphone.png" alt="" />
    </div>
    <!-- <button type="button" name="left" class="selector" ng-click="switch_left()">left</button>
    <button type="button" name="right" class="selector" ng-click="switch_right()">right</button>

    <button type="button" name="next_page" class="selector" ng-click="next_page()">next page</button>
    <button type="button" name="previous_page" class="selector" ng-click="previous_page()">previous page</button>
    <button type="button" name="click" class="selector" ng-click="click(get_curitem_id())">click</button> -->

    <div id="parent_popup">
        <div class="popup_back">
            <div id="popup" class="col-xs-12">
                <!-- <p style="cursor: pointer;">Close</p> -->
            </div>
        </div>
    </div>

    <div id="message">
        <div class="message_back">
            <div id="message_txt" class="col-xs-8">
                <p>Will you wear this outfit today?</p>
            </div>
        </div>
    </div>


    <div class="container" ng-controller="ItemCtr">
        <div class="row del_overf" >
            <div class="item" ng-repeat="item in items">
                <item-dir info="item"></item-dir>
            </div>
            <div class="col-xs-4 add_button" id="item-{{items.length+1}}" it-id="9">
                <h1>Add a new item</h1>
                <h1>+</h1>
            </div>
                <!-- <div class="col-xs-3">
                    <img class="" ng-src="{{img.cat}}" id="item_img"/>
                </div>
                <div class="col-xs-3" id="item_descr">
                    <p> style: casual<br>stars:4<br>last worn: date<br>style: casual<br>stars:4<br>last worn: date<br></p>
                </div> -->
            </div>
        </div>
    </div>
</ui-widget>

<!-- Item directives -->

<!-- <script src="js/directives/installApp.js"></script> -->

<!-- <p ng-click="testView('')">Switch Tag</p> -->

<p ng-click="switchView('','right_swipe')">Back Again (Test)</p>
<p ng-click="switchView('add','left_swipe')">To add item(Test)</p>
