<!-- HELP LIST OF VOICE COMMANDS -->
<div class="popup_back help container" id="help">
    <div class="col-xs-12">
         <ul>
             <h1>Commands to switch page:</h1>
             <li>Key words to open wardrobe: "dress"+"today"   or   "show"+"stylist"</li>
             <li>Key words to open home page: "show"+"home"</li>
             <li>To add new item to your wardrobe: "add"+"new"</li>

             <h1>Home page commands:</h1>
             <li>To check weather: "what"+"about"+"weather"</li>

             <h1>Wardrobe page commands:</h1>
             <li>Next page: "next"+"page"</li>
             <li>Previous page: "previous"+"page"</li>
             <li>Say number of item to see big image</li>
             <li>Say "close"+"item" to return to wardrobe gallery</li>
             <li>To mark item as worn: "want"+"wear"+"today"</li>
             <li>To find all items with a specific tag or dresscode: <br>"find"+"(your word)"</li>
             <li>To return to wardrobe gallery after search: "show"+"all"</li>

             <h1>Add page commands:</h1>
             <li>Next page: "next"+"page"</li>
             <li>Previous page: "previous"+"page"</li>
             <li>Say number of item to see big image</li>
             <li>Say "close"+"item" to return to wardrobe gallery</li>

             <h1>Clothes adding page commands:</h1>
             <li>Start item adding: "start" or "begin"</li>
             <li>Add tag: "tag"+"(tag word)"</li>
             <li>Save tag(s): "save" or "confirm"</li>
             <li>Edit dresscode: "edit"  or  "code"</li>
             <li>Save dresscode: "save"  or  "code"</li>
             <li>Finnish adding item: "finnish" or "quit"</li>


             <br>
             <li>To close list of voice commands: "close"+"help"</li>
             <li>To close tutorial: "close"+"tutorial"</li>
             <li>Your setup adress is: {{ip}}</li>
         </ul>
    </div>
</div>
<ui-widget class="stylist" id="stylist">
    <!-- <h1>Welcome to your wardowbe</h1> -->
    <div ng-controller="ClockCtr" class="row">
        <div class="col-xs-6">
            <p class="small_clock">{{ time | date:'HH:mm'}}</p>
        </div>
        <div class="col-xs-6">
            <div class="microphone" id="microphone">
                <div class="circle" id="m_listen">
                    <div class="cssload-container">
                        <div class="cssload-double-torus"></div>
                    </div>
                </div>
                <div class="circle" id="m_detc">
                    <p class="mic_cmd">{{curr_cmd}}</p>
                </div>
                <img  class="microph_img" id="microph_img" src="res/microphone.png" alt="" />
            </div>
        </div>
    </div>
    <div class="page_switcher container" >
        <ul class="hr container" >
            <li class="current" id="page-{{$index}}" ng-repeat="i in getNumber(p_amount) track by $index" ng-if="$index === 0">{{$index+1}}</li>
            <li id="page-{{$index}}" ng-repeat="i in getNumber(p_amount) track by $index" ng-if=" $index !== 0">{{$index+1}}</li>
        </ul>
        <div>

        </div>


    </div>
    <button type="button" name="left" class="selector" ng-click="switch_left()">left</button>
    <button type="button" name="right" class="selector" ng-click="switch_right()">right</button>

    <button type="button" name="next_page" class="selector" ng-click="next_page()">next page</button>
    <button type="button" name="previous_page" class="selector" ng-click="previous_page()">previous page</button>
    <button type="button" name="click" class="selector" ng-click="click(get_curitem_id())">click</button>

    <div id="parent_popup">
        <div class="popup_back big_big_item">
            <div id="popup" class="col-xs-12">
                <!-- <p style="cursor: pointer;">Close</p> -->
            </div>
        </div>
    </div>

    <div id="message">
        <div class="message_back">
            <div id="message_txt" class="col-xs-8">
                <p>Will you wear this outfit today?</p>
            </div>
        </div>
    </div>


    <div class="container" ng-controller="ItemCtr">
        <div class="row del_overf" >
            <div class="item" ng-repeat="item in items">
                <item-dir info="item"></item-dir>
            </div>
            <div class="col-xs-4 add_button" id="item-{{items.length+1}}" it-id="9">
                <h1>Add a new item</h1>
                <h1>+</h1>
            </div>
                <!-- <div class="col-xs-3">
                    <img class="" ng-src="{{img.cat}}" id="item_img"/>
                </div>
                <div class="col-xs-3" id="item_descr">
                    <p> style: casual<br>stars:4<br>last worn: date<br>style: casual<br>stars:4<br>last worn: date<br></p>
                </div> -->
            </div>
        </div>
    </div>
</ui-widget>

<!-- Item directives -->

<!-- <script src="js/directives/installApp.js"></script> -->

<!-- <p ng-click="testView('')">Switch Tag</p> -->

<p ng-click="switchView('','right_swipe')">Back Again (Test)</p>
<p ng-click="switchView('add','left_swipe')">To add item(Test)</p>
