
<ui-widget class="stylist" id="stylist">

    <div ng-controller="ClockCtr" class="row">
        <div class="col-xs-6">
            <p class="small_clock">{{ time | date:'HH:mm'}}</p>
        </div>
        <div class="col-xs-6">
            <div class="microphone" id="microphone">
                <div class="circle" id="m_listen">
                    <div class="cssload-container">
                        <div class="cssload-double-torus" id="cssload-double-torus"></div>
                    </div>
                </div>
                <div class="circle" id="m_detc">
                    <p class="mic_cmd">{{curr_cmd}}</p>
                </div>
                <img  class="microph_img" id="microph_img" src="res/microphone.png" alt="" />
            </div>
        </div>
    </div>

    <div class="page_switcher container" >
        <ul class="hr container" >
            <li class="current" id="page-{{$index}}" ng-repeat="i in getNumber(p_amount+1) track by $index" ng-if="$index === 0">{{$index+1}}</li>
            <li id="page-{{$index}}" ng-repeat="i in getNumber(p_amount+1) track by $index" ng-if=" $index !== 0">{{$index+1}}</li>
        </ul>
    </div>

    <!-- <div class="debug_controlls">
        <button type="button" name="left" class="selector" ng-click="switch_left()">left</button>
        <button type="button" name="right" class="selector" ng-click="switch_right()">right</button>
        <button type="button" name="switch_down" class="selector" ng-click="switch_down()">down</button>

        <button type="button" name="next_page" class="selector" ng-click="next_page()">next page</button>
        <button type="button" name="previous_page" class="selector" ng-click="previous_page()">previous page</button>
        <button type="button" name="click" class="selector" ng-click="click(get_curitem_id())">click</button>
    </div> -->


    <div id="parent_popup">
        <div class="popup_back big_big_item">
            <div id="popup" class="col-xs-12">
                <!-- <p style="cursor: pointer;">Close</p> -->
            </div>
        </div>
    </div>

    <div id="message">
        <div class="message_back">
            <div id="message_txt" class="col-xs-8">
                <p>Will you wear this outfit today?</p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row del_overf" >

            <div class="item" ng-repeat="item in items track by item.number" on-loop-finish>
                <div class="col-xs-4 item_stl" ng-class="{current:$first}" id="item-{{item.number}}" it-id="{{item.number}}" vid-id="{{item.vid_id}}" >
                    <div class="Number"> <p>{{ item.number }}</p> </div>

                    <!-- <img class="item_img" onload="add_load_img(this)" ng-src="http://localhost:5000/clothes/{{item.thumbnail}}" > -->
                    <img class="item_img" ng-src="http://localhost:5000/clothes/{{item.thumbnail}}" >

                    <h3 class="dresscode">Dresscode: {{ item.dresscode }}</h3>
                    <p class="tags">Tags: {{ item.tags }}</p>
                    <p class="t_wears">Wears: {{ item.t_wears}}</p>
                </div>
            </div>

            <div class="col-xs-4 item_stl add_button" id="item-{{items.length+1}}" it-id="{{items.length+1}}">
                <h1>Add a new item</h1>
                <h1>+</h1>
            </div>
        </div>
    </div>
</ui-widget>

<!-- <p ng-click="switchView('','right_swipe')">Back Again (Test)</p>
<p ng-click="switchView('add','left_swipe')">To add item(Test)</p> -->
